@import url("https://fonts.googleapis.com/css?family=Exo+2:300,400&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

a:hover {
  text-decoration: none;
}

/* HEADER */
.header {
  background-color: #80b412;
  padding: 2rem 0;
}

.header-socials {
  display: flex;
  justify-content: center;
  height: 62px;
  line-height: 62px;
}

.header-social-item {
  text-align: center;
}

.header-social-link {
  display: inline-block;
  height: 2rem;
  width: 2rem;
  background-color: white;
  margin-right: 1.5rem;
  border-radius: 50%;
  line-height: 2rem;
  color: #80b412;
}

.logo-title {
  display: block;
  opacity: 0.7;
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link {
  color: #ffffff;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: -0.16px;
  padding: 0.5rem 0.5rem;
}

.main-section {
  background: url("../img/main.png") no-repeat center center;
  background-size: cover;
}

.numbers {
  margin-top: 200px;
}

.number-items {
  height: 2rem;
  width: 2rem;
  background-color: #345c08;
  color: #ffffff;
  font-family: "Open Sans - Semibold";
  font-size: 14px;
  font-weight: 400;
  line-height: 31.5px;
  text-transform: uppercase;
  text-align: center;
  margin-right: 0;
}

.selected {
  color: #222222;
  background-color: #80b412;
}

.main-features-wrap {
  padding: 1.25rem 0 1.875rem 0;
  background-color: rgba(128, 180, 18, 0.902);
  text-align: center;
  margin-top: 40rem;
}

.main-features::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: 3px;
  height: 80px;
  background-color: #ffffff;
}

.main-features:nth-child(3)::after {
  display: none;
}

.main-features-item {
  display: inline-block;
  background-color: #ffffff;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  line-height: 4.5rem;
  text-align: center;
}

.main-features-subtitle {
  color: #ffffff;
  font-family: "Exo 2";
  font-size: 18px;
  font-weight: 300;
  margin-top: 1rem;
}

/* Section - About us */

.about {
  padding: 5rem 0;
  text-align: center;
}

.section-line {
  height: 2px;
  background-color: #222222;
}

.section-title {
  display: inline-block;
  padding: 0.5rem 0.5rem;
  position: absolute;
  background-color: #ffffff;
  left: 50%;
  transform: translateX(-50%) translateY(-73%);
  color: #222222;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
}

.section-content {
  margin-top: 4rem;
}

.section-about {
  color: #222222;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-align: justify;
}

.section-list {
  counter-reset: li;
  list-style: none;
  padding: 0;
}

.section-list-item {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  margin: 0.5em 0 0.5em 3em;
  text-align: left;
  color: #222222;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 700;
}

.section-list-item:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #80b412;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}

.section-list-item:after {
  position: absolute;
  content: "";
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
}

/*//////////////////////////////////////////// Section - Latest news ////////////////////////////////*/

.news {
  padding: 5rem 0 6rem;
  background-image: url("../img/news.jpg");
  background-size: cover;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
}

.section-title-white {
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  width: 100%;
  font-family: Roboto;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  display: inline-block;
}

.section-title-white::before {
  content: "";
  display: inline-block;
  height: 2px;
  width: 36.5%;
  background-color: #ffffff;
  vertical-align: middle;
  margin-right: 1rem;
}

.section-title-white::after {
  content: "";
  display: inline-block;
  height: 2px;
  width: 36.5%;
  background-color: #ffffff;
  vertical-align: middle;
  margin-left: 1rem;
}

.section-news-title {
  color: #222222;
  font-family: Roboto;
  font-size: 23px;
  font-weight: 700;
  text-transform: uppercase;
}

.section-content-white {
  margin-top: 2rem;
  background-color: #ffffff;
  padding: 2rem;
}

.section-news-date {
  color: #222222;
  font-family: Roboto;
  font-size: 12px;
  font-style: italic;
}

.section-news-text {
  color: #222222;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 1.6rem;
}

.secton-link {
  display: inline-block;
  padding: 1rem;
  background-color: #80b412;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.link-block {
  text-align: right;
}

/* Section-testimonials */

.testimonials {
  padding: 5rem 0;
}

.testimonials-slider {
  margin-top: 5rem;
}

.slider-border {
  border: 2px solid #80b412;
  padding: 1rem;
}

.slider-text {
  color: #222222;
  font-family: Roboto;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.1;
}

.slider-signature {
  color: #222222;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
}

/* FOOTER */

.footer {
  background-image: url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer-title {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

.footer-contacts-address {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 2rem;
}

.footer-contacts-phone a,
.footer-contacts-fax a,
.footer-contacts-email a {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.text-field,
textarea {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  outline: none;
}

.text-field:focus,
textarea:focus {
  border: 2px solid #80b412;
}

textarea {
  width: 100%;
}

::placeholder {
  color: #222222;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
}

.button-wrap {
  text-align: right;
}

.button {
  display: inline-block;
  color: #ffffff;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  background-color: #80b412;
  height: 2rem;
}

.footer-copyrights {
  text-align: center;
  margin-top: 1.5rem;
}

.copyrights {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
}

.privacy {
  color: #d4d4d4;
  font-family: Roboto;
  font-size: 11px;
  font-weight: 400;
  text-decoration: underline;
}
